<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>421715350507-solh9th78du5e5fs1o7ulaiju31qqtq3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.421715350507-solh9th78du5e5fs1o7ulaiju31qqtq3</string>
	<key>API_KEY</key>
	<string>AIzaSyCEZLgnTY-8iTl_2sCuOm1wBLWN7whHhUo</string>
	<key>GCM_SENDER_ID</key>
	<string>421715350507</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.multiVendorApp</string>
	<key>PROJECT_ID</key>
	<string>admin-customer-panel-project</string>
	<key>STORAGE_BUCKET</key>
	<string>admin-customer-panel-project.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:421715350507:ios:e04132717f33fe7ed03fae</string>
</dict>
</plist>